@charset "UTF-8";
.row-header {
  margin: 0 auto;
  padding: 0 0; }

.row-content {
  margin: 0 auto;
  padding: 50 0;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #d1c4e9;
  margin: 0 auto;
  padding: 20 0; }

.jumbotron {
  margin: 0 auto;
  padding: 70 30;
  background-color: #9575cd;
  color: floralwhite; }

address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f; }

body {
  padding: 50px 0 0 0;
  z-index: 0; }

#loginBtn:hover {
  cursor: pointer; }

.navbar-dark {
  background-color: #512da8; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.blockquote {
  padding: .5rem 1rem;
  border-left: .25rem solid #eceeef; }

.carousel {
  background-color: #512da8; }
  .carousel .carousel-item {
    height: 250px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 250px; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }

.modal-header {
  background: #512da8; }
  .modal-header .close, .modal-header .modal-title {
    color: floralwhite; }

.modal-body {
  background: #d1c4e9; }

/* After installing you can check for this line in the package.json file:
"devDependencies": {
  "lite-server": "^2.3.0",
  "node": "^10.12.0",
  "sass": "^1.14.3" -> The sass module

  Then, make this change in the file:
  "scripts": {
    "start": "npm run lite",
    "test": "echo \"Error: no test specified\" && exit 1",
    "lite": "lite-server",
    "scss": "node-sass -o css/ css/"
  },

  the css/ css/ is the origin/source of the files.

  Finally, just run scss with node:
  npm run scss
  */
/* Se não funcionar, o melhor é fazer como no site do SASS.
  sass nome do arquivo, nome do arquivo de output.css. Ex:
  sass styles.scss styles.css
  Ele também cria um arquivo map para facilitar no futuro.
  Testing build with:
  npm run scss*/
